<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eslovenos FC</title>
</head>
<body>

    <!--falta personalizar el html-->
    <!--en un futuro estara todo conectado con html-->
    <h1>Eslovenos FC</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ut molestiae culpa nam ab maxime quam unde in quibusdam nemo et animi dicta, rerum, numquam mollitia cumque at nesciunt ad?</p>


    <img src="" alt="">


</body>
</html>